/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root {
    /* --layout-bg: #37075d; */
    --primary-bg: #fffe;
    --white: #fff;
    --black: #32323d;
    --yellow: #f8e71c;
    --blue: #4a90e2;
    --red: #e35050;
    --navigation-text: #32323d;
    --player-height: 90px;
    --header-height: 70px;
    --sidebar-bg: hsla(0,0%,100%,0.3);
    --alpha-bg: hsl(0deg 9% 50% / 10%);
    --layout-bg: #f9dbdb;
    --text-placeholder: #757575;
    --purple-primary: #ea7aa0;
    --link-text-hover: #ea7aa0;
    --bg-content-color: rgba(0,0,0,0.05);
    --border-primary: rgba(0,0,0,0.1);
    --text-primary: #32323d;
    --tab-active-bg: hsla(0,0%,100%,0.3);
    --border-secondary: hsla(0,0%,100%,0.05);
    --dark-alpha-50: rgba(0,0,0,0.5);
    --text-secondary: #696969;
    --border-player: #ecbcbb;
    --player-bg: #f9dbdb;
    --thumbnail-player: hsla(0,0%,100%,0.8);
    --scroll-bg: rgb(143, 143, 143);
    --select-bg: rgba(0,0,0,0.15);
    --main-box-shadow: rgba(66,66,66,0.4);
    --box-item-bg: hsla(0,0%,100%,0.3);
    

   
}
* {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}
html {
    
   font-size: 62.5%;
   line-height: 1.6rem;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   scroll-behavior: smooth;
   -webkit-font-smoothing: subpixel-antialiased;
}
.body {
    margin: 0;
}
a {
    text-decoration: none;
    display: inline-block;
}
li {
    list-style: none;
}
p {
    display: block;
}
i {
    display: block;
}

img {
    vertical-align: middle;
    max-width: 100%;
    line-height: 0;

}
h4 {
    font-weight: normal;
}

.btn-disabled {
    opacity: 0.3 !important;
    cursor: default !important;
}
.icon {
    font-size: 1.4rem;
    padding: 5px;
    border-radius: 50%;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-8 {
    margin-top: 8px;
}
.mb-16 {
    margin-bottom: 16px;
}
.br-5 {
    border-radius: 5px;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.button {
    display: flex;
    outline: none;
    font-size: 1.4rem;
    line-height: 1.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    cursor: pointer;
    border-style: none;
    -webkit-tap-highlight-color: transparent;
}
.mt-25 {
    margin-top: 25px;
}
.m-r {
    margin: 0;
}

.no-wrap {
    display: flex;
    flex-wrap: nowrap !important;
    overflow: hidden overlay !important;
    will-change: scroll-position;
    scroll-behavior: smooth;
}
.owl-theme .owl-nav .disabled {
    cursor: default !important;
    opacity: 0.3 !important;
}
/* icon heart */
.bi-heart-fill {
    color: var(--purple-primary);
}
.pd-5 {
    padding: 5px;
}
.mb-50 {
    margin-bottom: 50px;
}
/* THEME */
.theme__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.theme__modal.open {
    display: flex;
}
.theme__container {
    margin: auto;
    width: 70%;
    max-width: 900px;
    background-color: var(--primary-bg);
    scroll-behavior: smooth;
    max-height: 100%;
    min-height: 600px;
    position: relative;
    border-radius: 12px;
    -webkit-tap-highlight-color:transparent;
}
.theme__list {
    display: flex;
    padding-bottom: 20px;
}
.theme__title {
    font-size: 2.4rem;
    padding: 20px 30px;
    margin: 0;
    color: var(--text-primary);
    line-height: 2.5rem;
    border-radius: 12px;
}
.theme__close-btn i {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    font-size: 2.4rem;
    top: 6px;
    right: 10px;
    line-height: 2.4rem;
    cursor: pointer;
    color: var(--text-primary);
}
.theme__content {
    height: 500px;
    width: 100%;
    padding: 0 30px;
    overflow: hidden overlay;
    will-change: scroll-position;
}
.theme__content::-webkit-scrollbar {
    width: 6px;
    

}
.theme__content::-webkit-scrollbar-thumb {
    /* background-color: #b2a2a2; */
    border-radius: 12px;
   background: var(--scroll-bg);

}
.title {
    font-size: 1.8rem;
    color: var(--text-primary);
    margin-bottom: 10px;
    
}
.theme__item {
    display: flex;
    flex-direction: column;
}
.theme__item-image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.theme__item-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;

}
.theme__item-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-alpha-50);
    border-radius: 5px;
    visibility: hidden;

}

.theme__item-img:hover::after {
    visibility: visible;
    border-radius: 5px;
    
}
.theme-image {
    transition: transform 0.7s;
    z-index: 2;
}
.theme__item-img:hover .theme-image {
    transform: scale(1.12, 1.12);
    border-radius: 5px;
}
.theme__actions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100px;
    visibility: hidden;
    z-index: 1;
}
.theme__item-img:hover .theme__actions {
    visibility: visible;
}
.theme__action-btn:first-child {
    margin-bottom: 10px;
    background-color: var(--purple-primary);
}
.theme__action-btn:last-child {
    background-color: transparent;
    border: 1px solid var(--white);
}
.theme__action-btn {
    width: 100%;
    padding: 6px 0;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid var(--purple-primary);
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 500;
    
}
.theme__item-name {
    width: 100%;
    padding: 5px 0;
    font-size: 1.2rem;
    color: var(--text-primary);
    font-weight: 500;
}
/* slick slide */

.playlist--button-left{
    font-size: 2rem;
    color: var(--navigation-text);
   
}
.playlist--button-right {
    font-size: 2rem;
    color: var(--navigation-text);
    z-index: 999;

    
}
.container__singer-favorite .owl-nav,
.container__release .owl-nav,
.container__explore-event .owl-nav,
.container__mix .owl-nav,
.container__radio-highlight .owl-nav,
.container__singer .owl-nav,
.container__mv .owl-nav,
.container__playlist .owl-nav {
    position: absolute;
    top: -51px;
    right: 0;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background-color: transparent;
}
/* tab explore */
.container__singer-favorite,
.container__explore-event,
.container__explore-new,
.container__mix,
.container__radio-highlight,
.container__corner,
.container__mn {
    display: flex;
    flex-direction: row;
    position: relative;
}
.container__explore-singer  .owl-nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    
}
.container__explore-singer  .owl-nav button {
    width: 38px;
    height: 38px;
    background-color: var(--alpha-bg) !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    color: var(--black) !important ;

}
.container__explore-singer:hover .owl-nav button{
    background-color: var(--white) !important;
}
.container__explore-singer  .owl-nav button:nth-child(1) {
   transform: translateX(-19px);

}
.container__explore-singer  .owl-nav button:nth-child(2) {
    transform: translateX(19px);

 }
 .container__explore-singer  .owl-nav button i:nth-child(1),
 .container__explore-singer  .owl-nav button i:nth-child(2) {
    color: var(--black);
 }
/* mv */

@keyframes animationNote1 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }

}
@keyframes animationNote2 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
 
 }
 @keyframes animationNote3 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(180deg) translateX(55px) rotate(-180deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(50deg);
    }
 }
 @keyframes animationNote4 {
    0% {
        opacity: 0;
        transform: rotate(90deg) translateX(40px) rotate(-90deg) scale(1);
    } 
    50% {
        opacity: 1;
        transform: rotate(175deg) translateX(57.5px) rotate(-175deg) scale(1.3)
    }
    100% {
        opacity: 0;
        transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7) rotate(45deg) rotate(-50deg);
    }
 
 }
 /* cd animate */
 @keyframes cdAnimate {
     0%{
         transform: rotate(0deg);
     }
     100%{
         transform: rotate(360deg);
     }
 }
 /*========= TOAST MSG =========*/
 #toast {
    position: fixed;
    top: 32px;
    right: 32px; 
    z-index: 99999;
 }
.toast {
   min-width: 400px;
   max-width: 450px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 5px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    transition: all 0.3s linear;
}
@keyframes slideInLeft {
    from{
        opacity: 0;
        transform:  translateX(calc(100% + 32px));

    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut  {
    
      to{
          opacity: 0;
      }  
    
}
.toast__close,
.toast__icon {
    padding: 0 16px;
}
.toast__icon {
    font-size: 2.4rem;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;

}

.toast__msg {
    font-size: 1.4rem;
    color: #3a3b3a;
    line-height: 1.5 ;
    margin-top: 6px;
}

.toast__close {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.3);
}
.toast--success {
    border-color: #47d864;
}
.toast--success  .toast__icon {
    color: #47d864;
}
.toast--info {
    border-color: #2f86eb;
}
.toast--info   .toast__icon {
    color: #2f86eb;
}
.toast--warning {
    border-color: #ffc021;
}
.toast--warning  .toast__icon {
    color: #ffc021;
}
.toast--error {
    border-color: #ff623d;

}
.toast--error  .toast__icon {
    color: #ff623d;
}





    


